<div
  class="border md:w-1/2 md:mx-auto p-8 mb-8 flex flex-col items-center rounded-md"
>
  <img
    class="rounded-full aspect-square w-[96px] mb-2"
    src="{{ speaker.picture.large }}"
    alt="thumbnail"
  />
  <div class="font-medium text-lg mb-2">
    {{ speaker.name.title }} {{ speaker.name.first }}
    {{ speaker.name.last }}
  </div>
  <div class="bg-slate-100 rounded-full py-1 px-4 mb-5">
    {{ speaker.location.country }}
  </div>
  <a href="mailto:{{ speaker.email }}">{{ speaker.email }}</a>
</div>
<button type="button" (click)="backToSpeakers()">Back to speakers</button>
